@import "../../mixines.scss";
@import "../../variables.scss";


.test_assignment {
  height: 600px;
  padding-left: 27px;

  background: url("./banner-photo.jpg") no-repeat center;
  background-size: cover;
  h1 {
    width: 520px;
    height: 144px;
    padding-top: 115px;

    font-weight: 400;
    font-size: 50px;
    line-height: 54px;
    font-family: $font;
    color: #ffffff;
    text-transform: uppercase;
  }
  p {
    width: 529px;
    height: 109px;
    margin-top: 143px;

    color: #eff1f3;

@include paragraph();
  }
  button {
    margin-top: 28px;

@include redButton();
  }
}

