@import "../../variables.scss";

.menu {
  position: fixed;

  width: 100%;

  background: $firstBackground;
}
.flex-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.navigation {
  display: flex;
}
li {
  padding: 0 30px;

  font-family: $font;
  &:hover {
    color: $primaryColor;
  }
}

.active {
  //color: #2a5692;
  color: red;
}
