@import "../../variables.scss";
@import "../../mixines.scss";

.menu {
  position: fixed;

  width: 100%;

  background: $firstBackground;
}
.flex-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.navigation {
  display: flex;
}

.active {
  //color: #2a5692;
  color: red;
}

.block {
  display: block;
}

.none {
  display: none;
}
.menu-items {
  padding: 0 30px;

  color: #212529;

  cursor: pointer;

@include paragraph();
  &:hover {
    color: $primaryColor;
    text-decoration: none;
  }
}
