@import "../../mixines.scss";
@import "../../variables.scss";

.user {
  width: 30%;
  margin: 0 1%;

  text-align: center;
}

.user-photo {
  width: 70px;
  height: 70px;

  background-color: #3a5384;
  border: 2px solid #ffffff;
  border-radius: 35px;
}



.user-card {
  display: block;
  width: 200px;

  h2 {
    max-width: 200px;
    margin: 22px 0;
    overflow: hidden;

    color: #212529;
    white-space: nowrap;
    text-overflow: ellipsis;

@include  title();
  }
  p {
    max-width: 200px;
    overflow: hidden;

    color: #4c4b4b;
    white-space: nowrap;
    text-overflow: ellipsis;
@include paragraph();
  }
}
