@import "./variables.scss";

@mixin paragraph() {
  font-size: 16px;
  line-height: 24px;
  font-family: $font;
}


@mixin title() {
  font-size: 24px;
  line-height: 29px;
  font-family: $font;
}

@mixin redButton() {
  width: 210px;
  height: 40px;

  color: #fefefe;

  background: #ef5b4c;
  border: 0;
  border-radius: 8px;
  &:hover {
    background: #d24335;
  }
}

@mixin flatButton() {
  background: none;
  border: 0;
  cursor: pointer;

  -webkit-appearance: none;
  &:hover {
    color: #d24335;
  }
}

@mixin disabledButton() {
  width: 210px;
  height: 40px;

  color: #8d8c8c;

  background: #d7d7d7;
  border: 0;
  border-radius: 8px;
}
